/* #2c3e50; @palette-midnight-blue; */
/* #34495e; @palette-wet-asphalt; */
/* #ecf0f1; @palette-clouds; */
/* #2ecc71; @palette-emerald; */
/* #e74c3c; @palette-alizarin; */
/* #3498db; @palette-peter-river; */

body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

/* map menu, map detail, map footer */
#map-menu, #map-detail, #map-footer {
	position: absolute;
	z-index: 100;
	opacity: 0.9;
}

/* map menu */
#map-menu {
	top: 10px;
	left: 48px;
}

/* map detail */
#map-detail {
	left: 10px;
	bottom: 60px;
}

.panel-heading .panel-title {
	font-weight: bold;
}

/* map footer */
#map-footer {
	width: 100%;
	bottom: 0px;
	opacity: 1;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
}

#map-footer p {
	margin: 5px;
}

#map-footer .brand {
	color: #2ecc71; /* @palette-emerald; */
}